---
layout: page
title: glossary
permalink: glossary/
---

<div class="row">
    <div class="column text-center">
        <p>
            Terms 0 through {{ site.data.glossary || size }}
        </p>
    </div>

    {% for word in site.data.glossary %}
    <div class="column">
        <p><strong>{{ word.term }}</strong> {{word.definition}}</p>
        {% if word.wordpress %}
        <p><strong>In Wordpress:</strong> {{ word.wordpress }}</p>
        {% endif %}
        <br>
    </div>
    {% endfor %}
</div>


