<footer>
    <div class="row">
        <div class="column">
            <h2 class="footer-title">e, s & gh</h2>
        </div>

        <div class="column medium-6">

            <h3>pages</h3>
            <ul>
                {% for node in site.pages %}
                {% if node.publish != false %}
                <li>
                    <a href="{{ node.url }}">
                        {{ node.title }} [{{ node.url }}]
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="column medium-6">

            <h3>posts</h3>
            <ul>
                {% for post in site.posts %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>


        </div>

    </div>
</footer>