footer {
  background: $light-gray;
  text-align: center;
  border-top: 1px solid $gray;

  ul {
    list-style-type: none;
  }

  h2 {

    &.footer-title {
      font-family: $display-font;
      padding-top: 20px;
    }

  }

}