footer {
  color: white;
  background: $light-gray;
  text-align: center;

  ul {
    list-style-type: none;
  }

  h2 {
    color: black;

    &.footer-title {
      color: transparentize(black, .6);
      padding-top: 20px;
    }

  }

}