$blue: #2199e8;
$gray: #c0c0c0;
$light-gray: #f5f5f5;


@mixin transition-all(){
  transition: all 250ms ease-in-out;
}

@mixin center-content(){
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin content_row(){
  width: 80%;
  max-width: 1100px;
  margin: auto;
}

@mixin display_font(){
  font-family: "Poiret One", serif;
}